body {
	background-color: #FFFFFF;
	background-image: url(background.gif);
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#container { margin-left: auto;    
       margin-right: auto;
       width:85%;
       min-width:700px;
      }

#nav {
	float: left;
	width: 200px;
	padding-top: 10px;
	text-align:left;
	color: #FFFFFF;
	font-size: 14px;
}
#nav a {
	text-decoration:none;
	margin: 15px;
	display: block;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}
#content {
	margin-left: 150px;
	padding: 30px;
	overflow:auto;
	border: medium groove #FFFFFF;
	line-height: 135%;
	
}

.floatright {padding-left:20px;
             float:right;
			 }
.floatleft {
	float:left;
	padding: 2px 30px 20px;
}
h3 {
	color: #000000;
	border-bottom: thin none;
	margin-right: auto;
	text-align: left;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;

}
.details { padding-left:20%;
           padding-right:20%; 
}
           
.content {
	margin: 20px;
	padding: 20px;
}
a {
	color: #FF0000;
	text-decoration: none;
	margin: 15px;
	color: #FF0000;
	font-size: 14px;
	font-weight: bold;
}
a:hover {
	color: #FFFF00;
	background-color: #0000FF;
}

p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 120%;
	font-weight: bold;
	color: #FFFFFF;
}
td {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 120%;
	font-weight: bold;
	color: #FFFFFF;
}
